VITE_API_URL=https://turteg-api.xslash.ovh
VITE_IVR_API_URL=https://api.ivr.fi
VITE_AUTH_TWITCH_URL="https://id.twitch.tv/oauth2/authorize?force_verify=false&response_type=code&client_id=xtpgssw99ai7ku97h84rh2m9eab161&redirect_uri=https://turteg.xslash.ovh/auth/twitch&scope=channel:bot"
VITE_AUTH_TWITCH_URL_SCOPES="https://id.twitch.tv/oauth2/authorize?force_verify=true&response_type=code&client_id=xtpgssw99ai7ku97h84rh2m9eab161&redirect_uri=https://turteg.xslash.ovh/auth/twitch?save=true"
VITE_LINK_TWITCH_URL="https://id.twitch.tv/oauth2/authorize?force_verify=true&response_type=code&client_id=xtpgssw99ai7ku97h84rh2m9eab161&redirect_uri=https://turteg.xslash.ovh/auth/twitch/link"
VITE_AUTH_STREAMELEMENTS_URL="https://api.streamelements.com/oauth2/authorize?client_id=42c728c0ecfd0eb6&redirect_uri=https://turtegbot.duckdns.org/auth/streamelements&response_type=code&scope=loyalty:read loyalty:write bot:read bot:write"
VITE_AUTH_SPOTIFY_URL="https://accounts.spotify.com/authorize?client_id=5c1446f9625846cca4e8cdff79e7f011&response_type=code&redirect_uri=https://turteg.xslash.ovh/auth/spotify/link&scope=user-read-playback-state user-modify-playback-state user-read-currently-playing&show_dialog=true"
VITE_AUTH_KICK_URL="https://id.kick.com/oauth/authorize?client_id=01JMEQRFF4M15F6S8EFM7P6YCF&redirect_uri=https://turteg.xslash.ovh/auth/kick&response_type=code&scope=user:read%20chat:write&code_challenge_method=S256"
VITE_LINK_KICK_URL="https://id.kick.com/oauth/authorize?client_id=01JMEQRFF4M15F6S8EFM7P6YCF&redirect_uri=https://turteg.xslash.ovh/auth/kick/link&response_type=code&scope=user:read%20chat:write&code_challenge_method=S256"
VITE_RECAPS=0
VITE_CHRISTMAS=0